@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 1707px;
    padding: 0;
    margin: 0;
    font-family: Kanit;
    user-select: none;
    overflow-x: hidden;
}

#navbar{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

.navpane{
    display: flex;
    align-items: center;
    gap: 30px;
}

#upperlogo{
    width: 70px;
    height: auto;
}

#upperlogoText{
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 40px;
    color: white;
}

#titleData{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 34px;
    color: white;
}

.cardHead{
    font-size: 34px;
    text-align: center;
    align-items: center;
    align-self: stretch;
    color: white;
    padding: 0;
    margin: 0;
}

.overview{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 100px;
}

.overviewHead{
    display: flex;
    align-self: stretch;
    padding: 0;
    margin: 0;
    font-size: 34px;
    color: white;
}

.overviewData{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: white;
}

#footer{
    display: flex;
    gap: 100px;
    padding: 70px 100px;
    background: rgb(28, 28, 28);
}

#footerLogo{
    width: 300px;
    height: 300px;
}

#footerDataPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1;
    align-self: stretch;
}

.detailPanel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    align-self: stretch;
}

.symbols{
    width: 50px;
    height: auto;
}

.contactDetail{
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 34px;
    color: white;
}